*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings
/classes

# maven
target

# Development
# Emacs files
\#*
.#*
*.bak

# Cached classpath information
/lizard-cmds/lizard.classpath
